body{
    background-image: url(C:\Users\ivanp\my-react-app\src\assets\clockBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.clockContainer{
    backdrop-filter: blur(1px);
    width: 50vw;
    padding: 10px 0;
}

.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
}