body{
    background-color: rgb(25, 25, 25);
}

.ToDoList{
    text-align: center;
    margin-top: 50px;
}

h1{
    font-size: 4.5rem;
    color: whitesmoke;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.addButton{
    background-color: rgb(0, 167, 0);
}

.addButton:hover{
    background-color: green;
}

.deleteButton{
    background-color: rgb(255, 43, 43);
}

.deleteButton:hover{
    background-color: rgb(223, 0, 0);
}

.moveButton{
    background-color: rgb(0, 89, 255);
}

.moveButton:hover{
    background-color: blue;
}

input{
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 15px;
    color: rgb(25, 25, 25);
}

ol{
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    width: 750px;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
    color: rgb(25, 25, 25);
    margin-left: 25px;
}

.deleteButton, .moveButton, .addButton{
    padding: 8px 12px;
    font-size: 1.6rem;
    margin-left: 10px;
}