body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.179);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(0, 128, 0, 0.722);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: rgb(0, 128, 0);
}

.card{
    background: linear-gradient(180deg, rgb(0, 174, 255), rgb(255, 179, 0));
    padding: 30px 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.727);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}

h1{
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0px;
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.752);
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.753);
}