.counterP{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
        font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}

.countDisplay{
    display: flex;
    justify-content: center;
}

.counterButton{
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: rgb(0, 221, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counterButton:hover{
    background-color: aquaº º;
}