.h3List {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: aquamarine;
}

.olList li{
    font-size: 2em;
    list-style: none;
    color: black;
    text-align: center;
    margin: 0;

}

.olList li:hover{
    color: rgb(0, 100, 67);
    cursor: pointer;
}