.student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 15px;
    border: 1px solid gray;
    width: 500px;
    text-align: center;
    
}

.student p{
    margin: 0;
}