.card{
  border: 1px solid rgba(128, 128, 128, 0.542);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px;
  display: inline-block;
}

.cardImage{
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cardTitle{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(68, 68, 68);
}

.cardText{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}