body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.stopWatck{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}

.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: grey;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin-bottom: 25px;
}

.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    width: 125px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

.startButton{
    background-color: rgb(0, 175, 0);
}

.startButton:hover{
    background-color: rgb(0, 138, 0);
}

.stopButton{
    background-color: rgb(255, 50, 50);
}

.stopButton:hover{
    background-color: rgb(220, 0, 0);
}

.resetButton{
    background-color: rgb(0, 128, 255);
}

.resetButton:hover{
    background-color: rgb(0, 91, 182);
}